<div class="account-box">
  <!-- 主标题 -->
  <div class="account-maintitle">
    <i class="fa fa-home" style="padding-right:8px;"></i>公司简介（Company Profile）
  </div>

  <!-- 副标题 -->
  <div class="place">
      <span></span>
      <ul class="placeul">
          <li><span><i class="fa fa-map-marker"></i>关于尚德信</span>
              <span class="line">/</span> <span>公司简介</span>
          </li>
      </ul>
  </div>


  <!-- "增加"按钮 -->
  <br>
  <div class="account-btn">
    <%= link_to(new_admin_companyprofile_path,:class=> "btn btn-primary" )  do %>
      <i class="fa fa-plus"></i>增加
    <% end %>
  </div>

  <!-- 所有文章列表 -->
  <table class="table table-hover table-striped table-advance table-responsive bg-table">
    <thead>
      <tr>
        <td>ID</td>

        <td>栏目</td>
        <td>更新时间</td>
        <td>操作</td>



      </tr>
    </thead>
    <tbody>
      <% @companyprofiles.each do |companyprofile| %>
        <tr>

          <td><%= link_to(companyprofile.id, companyprofiles_path) %></td>

          <td><%= link_to(companyprofile.title, companyprofiles_path) %></td>

          <td><%= companyprofile.updated_at %></td>
          <td>
            <%= link_to(edit_admin_companyprofile_path(companyprofile),class: :"btn btn-success")  do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>


            <!-- |<%= link_to("destroy", admin_companyprofile_path(companyprofile), method: :delete, data: { confirm: "你确定要删除吗？"}) %> -->
          </td>


        </tr>
      <% end %>
    </tbody>
  </table>

</div>
