<div class="account-box">
  <!-- 主标题 -->
  <div class="account-maintitle">
    <i class="fa fa-home" style="padding-right:8px;"></i>企业荣誉（Company Honor）
  </div>

  <!-- 副标题 -->
  <div class="place">
      <span></span>
      <ul class="placeul">
          <li><span><i class="fa fa-map-marker"></i>关于尚德信</span>
              <span class="line">/</span> <span>企业荣誉</span>
          </li>
      </ul>
  </div>


  <!-- "增加"按钮 -->
  <br>
  <div class="account-btn">
    <%= link_to(new_admin_companyhonor_path,:class=> "btn btn-primary" )  do %>
      <i class="fa fa-plus"></i>添加荣誉
    <% end %>
  </div>


  <!-- 所有文章列表 -->
  <table class="table table-hover table-striped table-advance table-responsive bg-table">
    <thead>
      <tr>
        <td>ID</td>
        <td>封面</td>
        <td>标题</td>
        <td>更新时间</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody>
      <% @companyhonors.each do |companyhonor| %>
      <tr>
        <td><%= companyhonor.id %></td>
        <td>
          <%= link_to admin_companyhonor_path(companyhonor) do %>
            <% if companyhonor.image.present? %>
              <%= image_tag(companyhonor.image.avatar.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/100x100&text=No Pic", class:"thumbnail") %>
            <% end %>
          <% end %>
        </td>
        <td><%= companyhonor.title %></td>
        <td><%= companyhonor.updated_at %></td>
        <td>
          <%= link_to(edit_admin_companyhonor_path(companyhonor),class: :"btn btn-success")  do %>
            <i class="fa fa-pencil-square-o"></i>
          <% end %>
          <%= link_to(admin_companyhonor_path(companyhonor),class: :"btn btn-danger",method: :delete, data: { confirm: "你确定要删除吗？"})  do %>
            <i class="fa fa-trash"></i>
          <% end %>

      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="bg-pagebox">
     <%= will_paginate @activities, renderer: BootstrapPagination::Rails, :previous_label => t('previous'), :next_label => t('next') %>
   </div>
</div>
