<%= simple_form_for [:admin, @banner ] do |f| %>

  <h1><%= @banner.name %></h1>

  <div class="form-group">
    <%= select_tag(:pic_category_id, options_for_select(@pic_categories), :prompt => "类别") %>
    <%= f.input :title, as: :ckeditor, :label => "配图文字" %>
    <%= f.input :img_url, :label => "图片地址" %>
    <%= f.input :img_link, :label => "图片链接" %>
    <%= f.input :description, :label => "描述" %>

    <%= f.input :pic, as: :file, :label => "广告图片(要求：400px*400px)" %>
    <hr>
  </div>
  <%= f.submit "提交", class: "btn btn-sm btn-default", data: {disable_with: "Submiting..."} %>
<% end %>
