<div class="account-box">

  <!-- 主标题 -->
  <div class="account-maintitle">
    <i class="fa-file-text-o" style="padding-right:8px;"></i>资讯列表（Article List）
  </div>

  <!-- 副标题 -->
  <div class="place">
      <span></span>
      <ul class="placeul">
          <li><span><i class="fa fa-map-marker"></i>资讯管理</span>
              <span class="line">/</span> <span>资讯列表</span>
          </li>
      </ul>
  </div>


  <!-- "增加活动"按钮 -->
  <br>
  <div class="account-btn">
    <%= link_to(new_admin_article_path,:class=> "btn btn-primary" )  do %>
      <i class="fa fa-plus"></i>增加资讯
    <% end %>
  </div>


  <!-- 所有文章列表 -->
  <table class="table table-hover table-striped table-advance table-responsive bg-table">
    <thead>
      <tr>
        <td>ID</td>
        <td>封面</td>
        <td>资讯分类</td>
        <td>标题</td>
        <td>更新时间</td>
        <td>操作</td>
        <td>排序</td>
        <td>状态</td>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.id %></td>
          <td>
            <%= link_to article_path(article) do %>
              <% if article.image.present? %>
                <%= image_tag(article.image.avatar.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/100x100&text=No Pic", class:"thumbnail") %>
              <% end %>
            <% end %>
          </td>
          <td><%= article.article_category_id %></td>

          <td><%= link_to(article.title, article_path(article)) %></td>
          <td><%= article.updated_at %></td>
          <td>
            <%= link_to(edit_admin_article_path(article),class: :"btn btn-success")  do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>
            <%= link_to(admin_article_path(article),class: :"btn btn-danger",method: :delete, data: { confirm: "你确定要删除吗？"})  do %>
              <i class="fa fa-trash"></i>
            <% end %>


          </td>
          <td>
            <%= link_to "向上", move_up_admin_article_path(article), method: :patch %> |
            <%= link_to "向下", move_down_admin_article_path(article), method: :patch %>
          </td>
          <td>
            <% if article.is_hidden %>
              <%= link_to publish_admin_article_path(article), method: :post, class: "btn btn-xs btn-success" do %>
              <i class="fa fa-eye"></i><% end %>
            <% else %>
              <%= link_to hide_admin_article_path(article), method: :post, class: "btn btn-xs btn-warning" do %>
              <i class="fa fa-eye-slash"></i><% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="bg-pagebox">
     <%= will_paginate @activities, renderer: BootstrapPagination::Rails, :previous_label => t('previous'), :next_label => t('next') %>
   </div>

</div>
