<div class="account-box">

  <div class="account-maintitle">
    <i class="fa fa-th" style="padding-right:8px;"></i>成功案例列表（Story List）
  </div>

  <div class="place">
      <span></span>
      <ul class="placeul">
          <li><span><i class="fa fa-map-marker"></i>成功案例管理</span>
              <span class="line">/</span> <span>成功案例列表</span>
          </li>
      </ul>
  </div>

  <!-- "增加文章"按钮 -->
  <br>
  <div class="account-btn">
    <%= link_to(new_admin_story_path,:class=> "btn btn-primary" )  do %>
      <i class="fa fa-plus"></i>新增案例
    <% end %>
  </div>



  <!-- 所有文章列表 -->
  <table class="table table-hover table-striped table-advance table-responsive bg-table">
    <thead>
      <tr>
        <td>ID</td>
        <td>所属分类</td>
        <td>案例封面</td>
        <td>标题</td>
        <td>更新时间</td>
        <td>操作</td>
        <td>排序</td>
        <td>状态</td>
      </tr>
    </thead>
    <tbody>
      <% @stories.each do |story| %>
        <tr>
          <td><%= story.id %></td>
          <!-- <td><%= story.product_id %></td> -->
          <td><%= Product.find(story.product_id).title %></td>
          <td>
            <%= link_to story_path(story) do%>
              <% if story.image.present? %>
                <%= image_tag(story.image.avatar.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/100x100&text=No Pic", class:"thumbnail") %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to(story.title, story_path(story)) %></td>

          <td><%= story.updated_at %></td>
          <td>
            <%= link_to(edit_admin_story_path(story),class: :"btn btn-success")  do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>
            <%= link_to(admin_story_path(story),class: :"btn btn-danger",method: :delete, data: { confirm: "你确定要删除吗？"})  do %>
              <i class="fa fa-trash"></i>
            <% end %>

          </td>
          <td>
            <%= link_to( move_up_admin_story_path(story),class: :"btn btn-info",method: :patch, data: { confirm: "你确定要删除吗？"})  do %>
              <i class="fa fa-arrow-up"></i>
            <% end %>
            <%= link_to(move_down_admin_story_path(story),class: :"btn btn-warning",method: :patch, data: { confirm: "你确定要删除吗？"})  do %>
              <i class="fa fa-arrow-down"></i>
            <% end %>

          </td>
          <td>
            <% if story.is_hidden %>
              <%= link_to publish_admin_story_path(story), method: :post, class: "btn  btn-success" do %>
              <i class="fa fa-eye"></i><% end %>
            <% else %>
              <%= link_to hide_admin_story_path(story), method: :post, class: "btn btn-warning" do %>
              <i class="fa fa-eye-slash"></i><% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="bg-pagebox">
     <%= will_paginate @stories, renderer: BootstrapPagination::Rails, :previous_label => t('previous'), :next_label => t('next') %>
   </div>
</div>
