

<div class="account-box">


  <!-- 主标题 -->
  <div class="account-maintitle">
    <i class="fa fa-comments-o" style="padding-right:8px;"></i>客户咨询留言（Message List）
  </div>

  <!-- 副标题 -->
  <div class="place">
      <span></span>
      <ul class="placeul">
          <li><span><i class="fa fa-map-marker"></i>客户咨询管理</span>
              <span class="line">/</span> <span>客户消息列表</span>
          </li>
      </ul>
  </div>

  <!-- 所有咨询反馈消息 -->
  <table class="table table-hover table-striped table-advance table-responsive bg-table">
    <thead>
      <tr>
        <td>ID</td>
        <td>客户名称</td>
        <td>客户电话</td>
        <td>客户邮箱</td>
        <td>客户留言</td>
        <td>反馈时间</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td><%= message.id %></td>
          <td><%= message.name %></td>
          <td><%= message.telphone %></td>
          <td><%= message.email %></td>
          <td><%= message.description %></td>
          <td><%= message.created_at %></td>
          <td>
            <%= link_to(admin_message_path(message),class: :"btn btn-danger",method: :delete, data: { confirm: "你确定要删除吗？"})  do %>
              <i class="fa fa-trash"></i>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="bg-pagebox">
     <%= will_paginate @activities, renderer: BootstrapPagination::Rails, :previous_label => t('previous'), :next_label => t('next') %>
   </div>
</div>
