
<!-- ↓↓↓ 大图滚动banner 代码块↓↓↓ -->
  <div class="row">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="1000" id="bs-carousel">

      <!-- 默认三张图列表 -->
      <div class="banner">
        <ul class="carousel-indicators ">
          <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#bs-carousel" data-slide-to="1"></li>
          <li data-target="#bs-carousel" data-slide-to="2"></li>
          <li data-target="#bs-carousel" data-slide-to="3"></li>
          <li data-target="#bs-carousel" data-slide-to="4"></li>
        </ul>
      </div>

      <!-- 文案部分 -->
      <div class="carousel-inner">
         <div class="item slides active">
           <!-- <%= link_to image_tag(Banner.find(1).img_url, class:  "slide-1"),Banner.find(1).img_link,target: "_blank"  %> -->
           <% if Banner.find(1).pic.present? %>
              <%= link_to image_tag(Banner.find(1).pic.url, class:  "slide-1"),Banner.find(1).img_link,target: "_blank"  %>
           <% else %>
             <%= link_to image_tag("http://placehold.it/300x300&text=No Pic", class: "slide-1"),"#" %>
           <% end %>
           <div class="hero row">
             <hgroup>
               <%= raw Banner.find(1).title %>
             </hgroup>
             <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
           </div>
         </div>

         <div class="item slides">
           <% if Banner.find(2).pic.present? %>
              <%= link_to image_tag(Banner.find(2).pic.url, class:  "slide-1"),Banner.find(2).img_link,target: "_blank"  %>
           <% else %>
             <%= link_to image_tag("http://placehold.it/300x300&text=No Pic", class: "slide-2"),"#" %>
           <% end %>
             <div class="hero">
               <hgroup>
                 <%= raw Banner.find(2).title %>
               </hgroup>
               <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
             </div>
         </div>
         <div class="item slides">

           <% if Banner.find(3).pic.present? %>
              <%= link_to image_tag(Banner.find(3).pic.url, class:  "slide-1"),Banner.find(3).img_link,target: "_blank"  %>
           <% else %>
             <%= link_to image_tag("http://placehold.it/300x300&text=No Pic", class: "slide-3"),"#" %>
           <% end %>
             <div class="hero">
               <hgroup>
                 <%= raw Banner.find(3).title %>
               </hgroup>
               <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
             </div>
         </div>
         <div class="item slides">

           <% if Banner.find(4).pic.present? %>
              <%= link_to image_tag(Banner.find(4).pic.url, class:  "slide-3"),Banner.find(4).img_link,target: "_blank"  %>
           <% else %>
             <%= link_to image_tag("http://placehold.it/300x300&text=No Pic", class: "slide-1"),"#" %>
           <% end %>
             <div class="hero">
               <hgroup>
                 <%= raw Banner.find(4).title %>
               </hgroup>
               <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
             </div>
         </div>
         <div class="item slides">

           <% if Banner.find(5).pic.present? %>
              <%= link_to image_tag(Banner.find(5).pic.url, class:  "slide-1"),Banner.find(5).img_link,target: "_blank"  %>
           <% else %>
             <%= link_to image_tag("http://placehold.it/300x300&text=No Pic", class: "slide-1"),"#" %>
           <% end %>
             <div class="hero">
               <hgroup>
                 <%= raw Banner.find(5).title %>
               </hgroup>
               <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
             </div>
         </div>
      </div>
  </div>
</div>
<!-- ↑↑↑ 大图滚动banner 代码块 ↑↑↑ -->


<!-- 尚德信世界地图 -->
<div class="row">

  <!-- 公司业务特点 -->
    <div class="landing-page-topic">
        <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="tagline text-center" >
                  <!-- 一站式全方位专业出国服务提供商 -->

                  <img src="https://i.loli.net/2017/09/03/59abe470b9d7e.png" alt="" width="200px;">
                  <!-- <img src="https://i.loli.net/2017/08/28/59a386806d54e.png" alt="" width="200px;"> -->
                </div>
                <div class="subtits">
                  我们专为企业家移民后在海外进入华人主流社圈提供平台
                </div>
                <div class="text-center">
                  <%= image_tag("https://i.loli.net/2017/08/25/59a036202e0ef.png",width:"90%",class: "img-center frontpage-img") %>

                </div>

              </div>
          </div>
      </div>
    </div>
</div>

<!-- 尚德信服务特色 -->
<div class="landing-page-svadg">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="tagline text-center">
          <img src="https://i.loli.net/2017/08/28/59a37f1857c16.png" alt="" width="60%">
        </div>
      </div>

        <div class="col-xs-12 col-sm-12 col-md-3 text-center">
          <style>
            .zoom-box{height: 210px;}
            .img-zoom{display: block;width: 94%; margin-left: 3%; vertical-align: middle;}
          </style>
          <div class="index-service-imag">
            <div class="zoom-box">
            <%= image_tag("https://ww1.sinaimg.cn/large/006tNc79gy1fj1l9sqs4qj307a05gwgu.jpg", class: "img-zoom img-center frontpage-img") %>
            </div>
            <p class="subtits">子女人生规划的教育平台</p>
            <p class="subspan">为客户子女量身定制出国学习计划
              <br>规划其移民后的人生步骤
              <br>使其能更顺利地融入国外的学习与生活
            </p>
          </div>
          <script>
          $(".img-zoom").hover(function(){
            $(this).animate({
              "width":"100%",
              "marginLeft":"0"
            },100);
          },function(){
            $(this).animate({
              "width":"94%",
              "marginLeft":"3%"
            },100);
          });
          </script>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 text-center">
          <div class="index-service-imag">
            <div class="zoom-box">
              <%= image_tag("https://ww1.sinaimg.cn/large/006tNc79gy1fj1lz6m1lej307a05ggnc.jpg", class: "img-zoom img-center frontpage-img") %>
            </div>
            <p class="subtits">企业家交流平台</p>
              <p class="subspan">为VIP客户及已成功登陆客户
                <br> 成立旅加、旅美华人沙龙
                <br>举办各种聚会、晚宴及参观旅游活动
              </p>
          </div>
          <script>
          $(".img-zoom").hover(function(){
            $(this).animate({
              "width":"100%",
              "marginLeft":"0"
            },100);
          },function(){
            $(this).animate({
              "width":"94%",
              "marginLeft":"3%"
            },100);
          });
          </script>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 text-center">
          <div class="index-service-imag">
            <div class="zoom-box">
              <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fj1lzox2qwj307905gwgp.jpg", class: " img-zoom img-center frontpage-img") %>
            </div>
            <p class="subtits">移民100%成功</p>
            <p class="subspan">100%绝对真实可靠项目
              <br>资深投资背景团队
              <br>帮助您全家迅速获得身份
            </p>
          </div>
          <script>
          $(".img-zoom").hover(function(){
            $(this).animate({
              "width":"100%",
              "marginLeft":"0"
            },100);
          },function(){
            $(this).animate({
              "width":"94%",
              "marginLeft":"3%"
            },100);
          });
          </script>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 text-center">
          <div class="index-service-imag">
            <div class="zoom-box">
              <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fj1m039lhcj307a05ggn9.jpg", class: " img-zoom img-center frontpage-img") %>
            </div>

            <p class="subtits">总裁服务</p>
            <p class="subspan">尚德信总裁有着多年的移民经验
              <br>秉承“客户即朋友”的服务理念
              <br>给顾客一个VIP级专属服务
              </p>
          </div>
          <script>
          $(".img-zoom").hover(function(){
            $(this).animate({
              "width":"100%",
              "marginLeft":"0"
            },100);
          },function(){
            $(this).animate({
              "width":"94%",
              "marginLeft":"3%"
            },100);
          });
          </script>

        </div>
     </div>
  </div>
</div>

<!-- 北美移民国家-->
<div class="row">


  <div class="landing-page-mid" style="background-color:#f1f1f1;">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="tagline text-center">
            <img src="https://i.loli.net/2017/08/28/59a3797962a8f.png" alt="" width="60%">
          </div>
        </div>

         <h4 class="text-center tagp">
             精选北美移民项目
         </h4>
        <div class="container">
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <%= link_to Banner.find(6).img_link do%>
              <div class="img-rela">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a396bca1022.png", class: "img-responsive img-center frontpage-img") %> -->

                <% if Banner.find(6).pic.present? %>
                   <%= image_tag(Banner.find(6).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a396bca1022.png", class: "img-responsive img-center frontpage-img")%>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(6).title %></div>
              </div>
            <% end %>
            <%= link_to Banner.find(7).img_link do%>
              <div class="img-rela" style="margin-top:5px;">
                <% if Banner.find(7).pic.present? %>
                   <%= image_tag(Banner.find(7).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a396e3a6d3a.png", class: "img-responsive img-center frontpage-img")%>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(7).title %></div>
              </div>
            <% end %>

          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <style>
              /*------------------------------------默认样式--------------------------------------------*/
              .img-rela.anim1 {position:relative;}
              .img-rela.anim1 .img-rela-bg {position:absolute;top:0;left:0;bottom:0;right: 0;background: #333; opacity: 0.5;z-index: 1;}
              .img-rela.anim1 .img-rela-font {position:absolute;top:0;left:0;bottom:0;right: 0;z-index: 2;text-align: center;color: white;font-size: 18px;}
              .img-rela.anim1 .img-rela-bg{display: none;}
              .img-rela.anim1:hover .img-rela-bg{display: block;}
              .img-rela.anim1 .img-rela-font{display: block; overflow: hidden;}
              .img-rela.anim1 .img-rela-font .font-title { width: 92%; line-height: 50px ;text-align: left; padding: 0 4%; display: none;}
              .img-rela.anim1 .img-rela-font .font-line { display: none;width: 0;height: 2px; background: white; margin: 0 4% 10px;}
              .img-rela.anim1 .img-rela-font .font-content{display: none;width: 92%; padding: 4%;line-height: 24px;font-size: 12px;text-align: left;  margin-left:100%;}
              .img-rela.anim1:hover .img-rela-font .font-line { display: block;}
              .img-rela.anim1:hover .img-rela-font .font-content{display: block;}
              /*------------------------------------默认样式.end--------------------------------------------*/

              /*------------------------------------声东击西--------------------------------------------*/
              .img-rela.anim1.rela2 .img-rela-bg{display: none;}
              .img-rela.anim1.rela2 .img-rela-font{display: none; top:45%; overflow: hidden;}
              .img-rela.anim1.rela2 .img-rela-font .font-title{display: none; }
              .img-rela.anim1.rela2:hover .img-rela-bg{display: block;}
              .img-rela.anim1.rela2:hover .img-rela-font{display: block; overflow: hidden;}
              .img-rela.anim1.rela2:hover .img-rela-font .font-title{display: block; }
              /*------------------------------------声东击西.end--------------------------------------------*/
            </style>
              <%= link_to Banner.find(8).img_link do %>
                <div class="img-rela anim1 rela1">
                  <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a3970fa2ca7.png", class: "img-responsive img-center frontpage-img") %> -->
                  <% if Banner.find(8).pic.present? %>
                     <%= image_tag(Banner.find(8).pic.url, class: "img-responsive img-center frontpage-img")%>
                  <% else %>
                    <%= image_tag("https://i.loli.net/2017/08/28/59a3970fa2ca7.png", class: "img-responsive img-center frontpage-img")%>
                  <% end %>

                  <div class="img-rela-bg"></div>
                  <div class="img-rela-font">
                    <div class="font-title"><%= raw Banner.find(8).title %></div>
                    <hr class="font-line">
                    <div class="font-content"><%= Banner.find(8).description %></div>
                  </div>
                  <script>
                  $(function(){
                      //默认样式浮动事件
                      $(".img-rela.rela1").hover(function(){
                        var obj =$(this); //保存当前对象
                        $(obj).find(".font-title").show();  //找到当前对象下的font-title元素显示
                        $(this).find(".font-line").animate({ //找到当前对象下的font-line元素，并将宽度以300毫秒的速度从默认样式变成92%
                          'width':"92%"
                        },300);
                        $(this).find(".font-content").animate({
                          'marginLeft':"0"
                        },300);
                      },function(){
                        var obj =$(this);
                        $(this).find(".font-line").animate({
                          'width':"0"
                        },100);
                        $(this).find(".font-content").animate({
                          'marginLeft':"100%"
                        },100,function(){ //该动画完成后，将font-title隐藏
                          $(obj).find(".font-title").hide();
                        });
                      })
                  });
                  </script>
                </div>
             <% end %>
          </div>

          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <%= link_to Banner.find(9).img_link do %>
              <div class="img-rela">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a397545cb54.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(9).pic.present? %>
                   <%= image_tag(Banner.find(9).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%=  image_tag("https://i.loli.net/2017/08/28/59a397545cb54.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(9).title %></div>
              </div>
            <% end %>
            <%= link_to Banner.find(10).img_link do %>
              <div class="img-rela anim1 rela2" style="margin-top:10px;">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a397547ce6c.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(10).pic.present? %>
                   <%= image_tag(Banner.find(10).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a397547ce6c.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>

                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(10).title %>
                </div>
                <script>
                  //
                  $(".img-rela.rela2").hover(function(){  //指定对象的浮动事件
                    $(".img-rela.rela3 .font-title").show();  //需要显示的对象的font-title元素显示
                    $(".img-rela.rela3 .img-rela-bg").show();
                    $(".img-rela.rela3").find(".font-line").show().animate({
                      'width':"92%"
                    },300);
                    $(".img-rela.rela3").find(".font-content").show().animate({
                      'marginLeft':"0"
                    },300);
                  },function(){
                    $(".img-rela.rela3").find(".font-line").animate({
                      'width':"0"
                    },100);
                    $(".img-rela.rela3").find(".font-content").animate({
                      'marginLeft':"100%"
                    },100,function(){
                      $(".img-rela.rela3 .img-rela-bg").hide();
                      $(".img-rela.rela3 .font-title").hide();
                    });
                  })
                </script>
              </div>
            <% end %>

          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <%= link_to Banner.find(11).img_link do %>
              <div class="img-rela">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a397d0127c6.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(11).pic.present? %>
                   <%= image_tag(Banner.find(11).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a397d0127c6.png", class: "img-responsive img-center frontpage-img")%>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(11).title %></div>
              </div>
            <% end %>
            <%= link_to Banner.find(12).img_link do %>
              <div class="img-rela anim1 rela3" style="margin-top:5px;">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a397d01875b.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(12).pic.present? %>
                   <%= image_tag(Banner.find(12).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a397d01875b.png", class: "img-responsive img-center frontpage-img")%>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font">
                  <div class="font-title"><%= raw Banner.find(12).title %></div>
                  <hr class="font-line">
                  <div class="font-content"><%= Banner.find(12).description %></div>
                </div>
              </div>
            <% end %>
            <%= link_to Banner.find(13).img_link do %>
              <div class="img-rela" style="margin-top:5px;">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a397d00b52e.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(13).pic.present? %>
                   <%= image_tag(Banner.find(13).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a397d00b52e.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(13).title %></div>
              </div>
            <% end %>
          </div>
        </div>


      </div>
    </div>
  </div>
  </div>

<!-- 欧洲移民国家-->
<div class="row">


  <div class="landing-page-mid">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="tagline text-center">
            <img src="https://i.loli.net/2017/08/25/59a033877ab1b.png" alt="" width="60%">
          </div>
        </div>


         <h4 class="text-center tagp">
             精选欧洲移民项目
         </h4>

        <div class="container">
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">

            <%= link_to Banner.find(14).img_link do %>
              <div class="img-rela anim1 rela1">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a4058aebcb6.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(14).pic.present? %>
                   <%= image_tag(Banner.find(14).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a4058aebcb6.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font">
                  <div class="font-title"><%= raw Banner.find(14).title %></div>
                  <hr class="font-line">
                  <div class="font-content"><%= Banner.find(14).description %></div>
                </div>
              </div>
            <% end %>
            <%= link_to Banner.find(15).img_link do %>
              <div class="img-rela" style="margin-top:5px;background-color:#e09576;" >
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a405ae81977.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(15).pic.present? %>
                   <%=image_tag(Banner.find(15).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a405ae81977.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(15).title %></div>
              </div>
            <% end %>
          </div>


          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <%= link_to Banner.find(16).img_link do %>
              <div class="img-rela">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a404c367c65.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(16).pic.present? %>
                   <%= image_tag(Banner.find(16).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%=  image_tag("https://i.loli.net/2017/08/28/59a404c367c65.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(16).title %></div>
              </div>
            <% end %>
            <%= link_to Banner.find(17).img_link do %>
              <div class="img-rela" style="margin-top:10px;">
                <% if Banner.find(17).pic.present? %>
                   <%=  image_tag(Banner.find(17).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%=  image_tag("https://i.loli.net/2017/08/28/59a405e9d8291.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a405e9d8291.png", class: "img-responsive img-center frontpage-img") %> -->
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(17).title %></div>
              </div>
            <% end %>
          </div>

          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <%= link_to Banner.find(18).img_link do %>
            <div class="img-rela">
              <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a405e9d16ca.png", class: "img-responsive img-center frontpage-img") %> -->
              <% if Banner.find(18).pic.present? %>
                 <%=image_tag(Banner.find(18).pic.url, class: "img-responsive img-center frontpage-img")%>
              <% else %>
                <%=  image_tag("https://i.loli.net/2017/08/28/59a405e9d16ca.png", class: "img-responsive img-center frontpage-img") %>
              <% end %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font"><%= raw Banner.find(18).title %></div>
            </div>
            <% end %>
            <%= link_to Banner.find(19).img_link do %>
              <div class="img-rela" style="margin-top:5px;">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a406626683e.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(19).pic.present? %>
                   <%=  image_tag(Banner.find(19).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%=  image_tag("https://i.loli.net/2017/08/28/59a406626683e.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(19).title %></div>
              </div>
            <% end %>
            <%= link_to Banner.find(20).img_link do %>
              <div class="img-rela" style="margin-top:5px;">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a406626a7b8.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(20).pic.present? %>
                   <%= image_tag(Banner.find(20).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%=  image_tag("https://i.loli.net/2017/08/28/59a406626a7b8.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(20).title %></div>
              </div>
            <% end %>
          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <%= link_to Banner.find(21).img_link do %>
              <div class="img-rela">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a40690f088c.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(21).pic.present? %>
                   <%= image_tag(Banner.find(21).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a40690f088c.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(21).title %></div>
              </div>
            <% end %>
            <%= link_to Banner.find(22).img_link do %>
              <div class="img-rela anim1 rela4" style="margin-top:10px;">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a406910bab9.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(22).pic.present? %>
                   <%=  image_tag(Banner.find(22).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%=  image_tag("https://i.loli.net/2017/08/28/59a406910bab9.png", class: "img-responsive img-center frontpage-img")%>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font">
                  <div class="font-title"><%= raw Banner.find(22).title %></div>
                  <hr class="font-line">
                  <div class="font-content"><%= Banner.find(22).description %></div>
                </div>
                <script>
                  //默认样式浮动事件
                  $(".img-rela.rela4").hover(function(){
                    var obj =$(this); //保存当前对象
                    $(obj).find(".font-title").show();  //找到当前对象下的font-title元素显示
                    $(this).find(".font-line").animate({ //找到当前对象下的font-line元素，并将宽度以300毫秒的速度从默认样式变成92%
                      'width':"92%"
                    },300);
                    $(this).find(".font-content").animate({
                      'marginLeft':"0"
                    },300);
                  },function(){
                    var obj =$(this);
                    $(this).find(".font-line").animate({
                      'width':"0"
                    },100);
                    $(this).find(".font-content").animate({
                      'marginLeft':"100%"
                    },100,function(){ //该动画完成后，将font-title隐藏
                      $(obj).find(".font-title").hide();
                    });
                  })
                </script>
              </div>
            <% end %>
          </div>
        </div>


      </div>
    </div>
  </div>
  </div>

<!-- 大洋洲移民国家-->
<div class="row">


  <div class="landing-page-mid" style="background-color:#f1f1f1;">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="tagline text-center">
            <img src="https://i.loli.net/2017/08/28/59a379b32175d.png" alt="" width="60%">
          </div>
        </div>


         <h4 class="text-center tagp">
             精选欧洲移民项目
         </h4>
        <div class="container">
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <%= link_to Banner.find(23).img_link do %>
              <div class="img-rela">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a40730ddd01.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(23).pic.present? %>
                   <%= image_tag(Banner.find(23).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a40730ddd01.png", class: "img-responsive img-center frontpage-img")%>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(23).title %></div>
              </div>
            <% end %>
            <%= link_to Banner.find(24).img_link do %>
              <div class="img-rela" style="margin-top:5px;">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a40730db33f.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(24).pic.present? %>
                   <%= image_tag(Banner.find(24).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a40730db33f.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(24).title %></div>
              </div>
            <% end %>
            <%= link_to Banner.find(25).img_link do %>
              <div class="img-rela" style="margin-top:5px;">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a40730e45a4.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(25).pic.present? %>
                   <%= image_tag(Banner.find(25).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a40730e45a4.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(25).title %></div>
              </div>
            <% end %>
          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <style>
              .img-rela {position:relative;}
              .img-rela .img-rela-bg {position:absolute;top:0;left:0;bottom:0;right: 0;display: none;background: #333; opacity: 0.5;z-index: 1;}
              .img-rela .img-rela-font {position:absolute;top:45%;left:0;bottom:0;right: 0;display: none;z-index: 2;text-align: center;color: white;font-size: 18px;}
              .img-rela:hover .img-rela-bg{display: block;}
              .img-rela:hover .img-rela-font{display: block;}
            </style>
            <%= link_to Banner.find(26).img_link do %>
              <div class="img-rela anim1 rela6">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a40768b0a96.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(26).pic.present? %>
                   <%= image_tag(Banner.find(26).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a40768b0a96.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font">
                  <div class="font-title"><%= raw Banner.find(26).title %></div>
                  <hr class="font-line">
                  <div class="font-content"><%= Banner.find(26).description %></div>
                </div>
                <script>
                  //默认样式浮动事件
                  $(".img-rela.rela6").hover(function(){
                    var obj =$(this); //保存当前对象
                    $(obj).find(".font-title").show();  //找到当前对象下的font-title元素显示
                    $(this).find(".font-line").animate({ //找到当前对象下的font-line元素，并将宽度以300毫秒的速度从默认样式变成92%
                      'width':"92%"
                    },300);
                    $(this).find(".font-content").animate({
                      'marginLeft':"0"
                    },300);
                  },function(){
                    var obj =$(this);
                    $(this).find(".font-line").animate({
                      'width':"0"
                    },100);
                    $(this).find(".font-content").animate({
                      'marginLeft':"100%"
                    },100,function(){ //该动画完成后，将font-title隐藏
                      $(obj).find(".font-title").hide();
                    });
                  })
                </script>
              </div>
            <% end %>
            <%= link_to Banner.find(27).img_link do %>
              <div class="img-rela" style="margin-top:10px;" >
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a407689f706.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(27).pic.present? %>
                   <%=image_tag(Banner.find(27).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a407689f706.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(27).title %></div>
              </div>
            <% end %>
          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <%= link_to Banner.find(28).img_link do %>
              <div class="img-rela">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a4079630730.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(28).pic.present? %>
                   <%= image_tag(Banner.find(28).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%=  image_tag("https://i.loli.net/2017/08/28/59a4079630730.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(28).title %></div>
              </div>
            <% end %>
            <%= link_to Banner.find(29).img_link do %>
              <div class="img-rela" style="margin-top:5px;">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a407962d32b.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(29).pic.present? %>
                   <%=image_tag(Banner.find(29).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a407962d32b.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(29).title %></div>
              </div>
            <% end %>
          </div>

          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <%= link_to Banner.find(30).img_link do %>
              <div class="img-rela anim1 rela5">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a4070368e04.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(30).pic.present? %>
                   <%=  image_tag(Banner.find(30).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a4070368e04.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>

                <div class="img-rela-font">
                  <div class="font-title"><%= raw Banner.find(30).title %></div>
                  <hr class="font-line">
                  <div class="font-content"><%= Banner.find(30).description %></div>
                </div>

                <script>
                  //默认样式浮动事件
                  $(".img-rela.rela5").hover(function(){
                    var obj =$(this); //保存当前对象
                    $(obj).find(".font-title").show();  //找到当前对象下的font-title元素显示
                    $(this).find(".font-line").animate({ //找到当前对象下的font-line元素，并将宽度以300毫秒的速度从默认样式变成92%
                      'width':"92%"
                    },300);
                    $(this).find(".font-content").animate({
                      'marginLeft':"0"
                    },300);
                  },function(){
                    var obj =$(this);
                    $(this).find(".font-line").animate({
                      'width':"0"
                    },100);
                    $(this).find(".font-content").animate({
                      'marginLeft':"100%"
                    },100,function(){ //该动画完成后，将font-title隐藏
                      $(obj).find(".font-title").hide();
                    });
                  })
                </script>
              </div>
            <% end %>

          </div>
        </div>


      </div>
    </div>
  </div>
  </div>

<!-- 护照／其他移民国家-->
<div class="row">


  <div class="landing-page-mid">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="tagline text-center">
            <img src="https://i.loli.net/2017/08/25/59a033879b405.png" alt="" width="60%">
          </div>
        </div>



         <h4 class="text-center tagp">
             精选护照移民项目
         </h4>
        <div class="container">
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <style>
              .img-rela {position:relative;}
              .img-rela .img-rela-bg {position:absolute;top:0;left:0;bottom:0;right: 0;display: none;background: #333; opacity: 0.5;z-index: 1;}
              .img-rela .img-rela-font {position:absolute;top:45%;left:0;bottom:0;right: 0;display: none;z-index: 2;text-align: center;color: white;font-size: 18px;}
              .img-rela:hover .img-rela-bg{display: block;}
              .img-rela:hover .img-rela-font{display: block;}
            </style>
            <%= link_to Banner.find(31).img_link do %>
              <div class="img-rela  anim1 rela7">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a408278fec4.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(31).pic.present? %>
                   <%=  image_tag(Banner.find(31).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a408278fec4.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font">
                  <div class="font-title"><%= raw Banner.find(31).title %></div>
                  <hr class="font-line">
                  <div class="font-content"><%= Banner.find(31).description %></div>
                </div>
                <script>
                  //默认样式浮动事件
                  $(".img-rela.rela7").hover(function(){
                    var obj =$(this); //保存当前对象
                    $(obj).find(".font-title").show();  //找到当前对象下的font-title元素显示
                    $(this).find(".font-line").animate({ //找到当前对象下的font-line元素，并将宽度以300毫秒的速度从默认样式变成92%
                      'width':"92%"
                    },300);
                    $(this).find(".font-content").animate({
                      'marginLeft':"0"
                    },300);
                  },function(){
                    var obj =$(this);
                    $(this).find(".font-line").animate({
                      'width':"0"
                    },100);
                    $(this).find(".font-content").animate({
                      'marginLeft':"100%"
                    },100,function(){ //该动画完成后，将font-title隐藏
                      $(obj).find(".font-title").hide();
                    });
                  })
                </script>
              </div>
            <% end %>
          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <%= link_to Banner.find(32).img_link do %>
              <div class="img-rela">
                <!-- <%= image_tag("https://i.loli.net/2017/09/01/59a900a8ac048.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(32).pic.present? %>
                   <%= image_tag(Banner.find(32).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/09/01/59a900a8ac048.png", class: "img-responsive img-center frontpage-img")%>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(32).title %></div>
              </div>
            <% end %>
            <%= link_to Banner.find(33).img_link do %>
              <div class="img-rela" style="margin-top:10px;">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a40851d9a75.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(33).pic.present? %>
                   <%=  image_tag(Banner.find(33).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a40851d9a75.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(33).title %></div>
              </div>
            <% end %>
          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <%= link_to Banner.find(34).img_link do %>
              <div class="img-rela">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a4087abb69a.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(34).pic.present? %>
                   <%=  image_tag(Banner.find(34).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%=  image_tag("https://i.loli.net/2017/08/28/59a4087abb69a.png", class: "img-responsive img-center frontpage-img")%>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(34).title %></div>
              </div>
            <% end %>
            <%= link_to Banner.find(35).img_link do %>
              <div class="img-rela anim1 rela8" style="margin-top:10px;">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a4087accf95.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(35).pic.present? %>
                   <%= image_tag(Banner.find(35).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%=  image_tag("https://i.loli.net/2017/08/28/59a4087accf95.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font">
                  <div class="font-title"><%= raw Banner.find(35).title %></div>
                  <hr class="font-line">
                  <div class="font-content"><%= Banner.find(35).description %></div>
                </div>
                <script>
                  //默认样式浮动事件
                  $(".img-rela.rela8").hover(function(){
                    var obj =$(this); //保存当前对象
                    $(obj).find(".font-title").show();  //找到当前对象下的font-title元素显示
                    $(this).find(".font-line").animate({ //找到当前对象下的font-line元素，并将宽度以300毫秒的速度从默认样式变成92%
                      'width':"92%"
                    },300);
                    $(this).find(".font-content").animate({
                      'marginLeft':"0"
                    },300);
                  },function(){
                    var obj =$(this);
                    $(this).find(".font-line").animate({
                      'width':"0"
                    },100);
                    $(this).find(".font-content").animate({
                      'marginLeft':"100%"
                    },100,function(){ //该动画完成后，将font-title隐藏
                      $(obj).find(".font-title").hide();
                    });
                  })
                </script>
              </div>
            <% end %>
          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <%= link_to Banner.find(36).img_link do %>
              <div class="img-rela">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a408a5e2343.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(36).pic.present? %>
                   <%=  image_tag(Banner.find(36).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a408a5e2343.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(36).title %></div>
              </div>
            <% end %>
            <%= link_to Banner.find(37).img_link do %>
              <div class="img-rela" style="margin-top:5px;">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a408a5e6be2.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(37).pic.present? %>
                   <%=image_tag(Banner.find(37).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%= image_tag("https://i.loli.net/2017/08/28/59a408a5e6be2.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(37).title %></div>
              </div>
            <% end %>
            <%= link_to Banner.find(38).img_link do %>
              <div class="img-rela" style="margin-top:5px;">
                <!-- <%= image_tag("https://i.loli.net/2017/08/28/59a408a5e814d.png", class: "img-responsive img-center frontpage-img") %> -->
                <% if Banner.find(38).pic.present? %>
                   <%= image_tag(Banner.find(38).pic.url, class: "img-responsive img-center frontpage-img")%>
                <% else %>
                  <%=  image_tag("https://i.loli.net/2017/08/28/59a408a5e814d.png", class: "img-responsive img-center frontpage-img") %>
                <% end %>
                <div class="img-rela-bg"></div>
                <div class="img-rela-font"><%= raw Banner.find(38).title %></div>
              </div>
            <% end %>
          </div>

        </div>


      </div>
    </div>
  </div>
  </div>


<!-- 成功案例版面   -->

<div class="row landing-page-eva">
    <div class="container">
      <div class="col-md-12">
        <div class="tagline text-center">
          <img src="https://i.loli.net/2017/08/28/59a37a1b8ee29.png" alt="" width="60%">
        </div>
          <div class="col-xs-12 col-sm-12 col-md-6 landing-page-eva-style">
            <div class="col-xs-12 col-sm-12 col-md-3 text-center video-btn-block" >
              <div class="" style="width:110px; display: inline-block;position:relative;">
                <div>
                  <%= image_tag("https://ww3.sinaimg.cn/large/006tNc79gy1fhrmzrrrgjj315u15tb29.jpg", class: "img-circle img-responsive img-center frontpage-img")%>
                  <div class="" style="position:absolute;left:0px;right:0px;top:0px;bottom:0px;z-index:3;background-color:#333;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5;border-radius:50%;">
                  </div>
                </div>

                <div class="video-btn-block" style="position:absolute;left:30px;right:30px;top:35px;bottom:30px;z-index:4;">
                   <a href="#" class="video-btn"  data-toggle="modal" data-target="#video-modal">
                  <img src="https://ooo.0o0.ooo/2017/08/30/59a680f305202.png" alt="" width="80%" aria-hidden="true"></a>
                </div>
              </div>


            </div>



            <div class="col-xs-12 col-sm-12 col-md-9" >
              <h5 style="color:black;">康思斌-北加州湖北同乡会副会长 </h5>
              <h7>@SibinKang</h7>
              <p>从初中每天罚站，到考上美国名校南加州大学，
                 我们的儿子通过尚德信德人生规划和移民服务
                 实现了名校梦想，感谢尚德信贴心德服务！
              </p>
            </div>
            <!-- 模态框测试 -->
            <div class="modal fade welcom-modal" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="document.getElementById('dzlv').pause();">×</button>
                  </div>
                  <div class="modal-body dzl-body">
                    <div align="center" class="embed-responsive embed-responsive-16by9">
                      <video id="dzlv" controls class="embed-responsive-item">
                        <source   src="http://oud39o8jh.bkt.clouddn.com/belrus%20copy.mp4" type="video/mp4">
                          你的游览器不支持此视频播放
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 模态框测试  end-->
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 landing-page-eva-style">
            <div class="col-xs-12 col-sm-12 col-md-3 text-center">
              <div class="" style="width:110px; display: inline-block;position:relative;">
                <div>
                  <%= image_tag("https://ww3.sinaimg.cn/large/006tKfTcgy1fi283uazt1j30bt0bttgr.jpg", class: "img-circle img-responsive img-center frontpage-img")%>
                  <div class="" style="position:absolute;left:0px;right:0px;top:0px;bottom:0px;z-index:3;background-color:#333;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5;border-radius:50%;">
                  </div>
                </div>

                <div class="video-btn-block" style="position:absolute;left:30px;right:30px;top:35px;bottom:30px;z-index:4;">
                   <a href="#" class="video-btn"  data-toggle="modal" data-target="#video-modal">
                  <img src="https://ooo.0o0.ooo/2017/08/30/59a680f305202.png" alt="" width="80%" aria-hidden="true"></a>
                </div>

              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9" >

              <h5 style="color:black;">张瑞兰-加州武汉创新科技董事长</h5>
              <h7>@XiaoLanZhang</h7>
              <p>女儿从一个在国内每天打游戏的假小子，变成了东海岸
                女子私校里多才多艺、品学兼优德学生会代表，同时也有了
                自己的理想和目标。这一切都离不开尚德信德教育社群和人生规划
              </p>

            </div>
            <!-- 模态框测试 -->
            <div class="modal fade welcom-modal" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="document.getElementById('dzlv2').pause();">×</button>
                  </div>
                  <div class="modal-body dzl-body">
                    <div align="center" class="embed-responsive embed-responsive-16by9">
                      <video id="dzlv2" controls class="embed-responsive-item">
                        <source   src="http://oud39o8jh.bkt.clouddn.com/belrus%20copy.mp4" type="video/mp4">
                          你的游览器不支持此视频播放
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 模态框测试  end-->
          </div>
      </div>
    </div>
  </div>


<!-- 立即行动 -->
<style>
.landing-page-adv  .form-control {height: 40px;}
</style>
<div class="row ">
    <div class="landing-page-adv">
      <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-6 text-center customer-requst" >
          <div class="">
            <img src="https://i.loli.net/2017/08/28/59a37c6169231.png" alt="" width="40%">
          </div>
          <div class="" style="padding-top:30px;">
            <p style="color:#e1424b;font-size:20px;">免费咨询</p>
            <p style="color:#2f2927;font-size:14px;">留下您的联系方式，移民顾问将与您联系</p>
          </div>
          <div class="text-center" style="margin-left:20%;margin-right:20%;">
            <%= simple_form_for [@message] do |f| %>
              <div class="form-group ">
                <%= f.input :name,style: "height:60px;",inline_label: '您的称呼', label: false%>
              </div>
              <div class="form-group">
                <%= f.input :telphone,style: "height:60px;" ,inline_label: '手机号码', label: false%>
              </div>
              <%= f.submit "预约咨询顾问", class: "btn btn-lg btn-default",style:"background-color: #e1424b; height: 50px;color:#f1f1f1;font-size:16px;", data: {disable_with: "Submiting..."} %>
            <% end %>
          </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 text-center customer-tel" style="border-left:dashed 1px #2f2927;">
          <div class="">
            <img src="https://i.loli.net/2017/08/28/59a37c6178f0b.png" alt="" width="40%">
          </div>
          <div class="" style="color:#2f2927;font-size:14px;padding:10px 0px;">
            通过以下方式联系我们移民专家，了解更过服务及产品信息
          </div>
          <div class="">
            <img src="https://i.loli.net/2017/08/25/59a043c8c4aa5.png" alt="" width="60%">
          </div>

        </div>
      </div>
    </div>
  </div>
