<div class="account-box">
  <!-- 主标题 -->
  <div class="account-maintitle">
    <i class="fa fa-paper-plane-o" style="padding-right:8px;"></i>项目列表（Project List）
  </div>

  <!-- 副标题 -->
  <div class="place">
      <span></span>
      <ul class="placeul">
          <li><span><i class="fa fa-map-marker"></i>移民国家管理</span>
              <span class="line">/</span> <span>项目列表</span>
          </li>
      </ul>
  </div>

  <!-- "增加项目"按钮 -->
  <br>
  <div class="account-btn">
    <%= link_to(new_admin_project_path,:class=> "btn btn-primary" )  do %>
      <i class="fa fa-plus"></i>增加项目
    <% end %>
  </div>



  <!-- 所有项目列表 -->
  <table class="table table-hover table-striped table-advance table-responsive bg-table">
    <thead>
      <tr>
        <td>ID</td>
        <td>所属分类</td>
        <td>封面</td>
        <td>项目名称</td>
        <td>创建时间</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.id %></td>
          <td><%= Product.find(project.product_id).title %></td>
          <td>
            <%= link_to project_path(project) do%>
              <% if project.image.present? %>
                <%= image_tag(project.image.thumb.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/100x100&text=No Pic", class:"thumbnail") %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to(project.title, project_path(project)) %></td>
          <td><%= project.created_at %></td>
          <td>
            <%= link_to(edit_admin_project_path(project),class: :"btn btn-success")  do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>

            <%= link_to(admin_project_path(project),class: :"btn btn-danger",method: :delete, data: { confirm: "你确定要删除吗？"})  do %>
              <i class="fa fa-trash"></i>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="bg-pagebox">
     <%= will_paginate @projects, renderer: BootstrapPagination::Rails, :previous_label => t('previous'), :next_label => t('next') %>
   </div>
</div>
