<div class="account-box">


  <!-- 主标题 -->
  <div class="account-maintitle">
    <i class="fa fa-wpexplorer" style="padding-right:8px;"></i>热门活动列表（Activity List
  </div>

  <!-- 副标题 -->
  <div class="place">
      <span></span>
      <ul class="placeul">
          <li><span><i class="fa fa-map-marker"></i>活动管理</span>
              <span class="line">/</span> <span>热门活动列表</span>
          </li>
      </ul>
  </div>


  <!-- "增加活动"按钮 -->
  <br>
  <div class="account-btn">
    <%= link_to(new_admin_activity_path,:class=> "btn btn-primary" )  do %>
      <i class="fa fa-plus"></i>添加活动
    <% end %>
  </div>



  <!-- 所有文章列表 -->
  <table class="table table-hover table-striped table-advance table-responsive bg-table">
    <thead>
      <tr>
        <td>ID</td>
        <td>封面</td>
        <td>标题</td>
        <td>更新时间</td>
        <td>操作</td>
        <td>排序</td>
        <td>状态</td>
      </tr>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td><%= activity.id %></td>
          <td>
            <%= link_to activity_path(activity) do %>
              <% if activity.image.present? %>
                <%= image_tag(activity.image.avatar.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/100x100&text=No Pic", class:"thumbnail") %>
              <% end %>
            <% end %>
          </td>

          <td><%= link_to(activity.title, admin_activity_path(activity)) %></td>

          <td><%= activity.updated_at %></td>
          <td>
            <%= link_to(edit_admin_activity_path(activity),class: :"btn btn-success")  do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>
            <%= link_to( admin_activity_path(activity),class: :"btn btn-danger",method: :delete, data: { confirm: "你确定要删除吗？"})  do %>
              <i class="fa fa-trash"></i>
            <% end %>

          </td>
          <td>
            <%= link_to(move_up_admin_activity_path(activity),class: :"btn btn-info",method: :patch, data: { confirm: "你确定要删除吗？"})  do %>
              <i class="fa fa-arrow-up"></i>
            <% end %>
            <%= link_to(move_down_admin_activity_path(activity),class: :"btn btn-warning",method: :patch, data: { confirm: "你确定要删除吗？"})  do %>
              <i class="fa fa-arrow-down"></i>
            <% end %>

          </td>
          <td>
            <% if activity.is_hidden %>
              <%= link_to publish_admin_activity_path(activity), method: :post, class: "btn  btn-success" do %>
              <i class="fa fa-eye"></i><% end %>
            <% else %>
              <%= link_to hide_admin_activity_path(activity), method: :post, class: "btn btn-warning" do %>
              <i class="fa fa-eye-slash"></i><% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="bg-pagebox">
     <%= will_paginate @activities, renderer: BootstrapPagination::Rails, :previous_label => t('previous'), :next_label => t('next') %>
   </div>
</div>
