<%= simple_form_for [:admin, @product] do |f| %>
  <div class="form-group">
    <%= f.input :title, :label => "国家名称" %>

    所属类别：<%= select_tag(:country_category_id, options_for_select(@country_categories),:prompt => CountryCategory.find(@product.country_category_id).title) %>
    <%= f.input :description, :label => "简述" %>
    <%= f.input :image, as: :file, :label => "封面" %>
    <hr>

    <%= f.input :particulars, as: :ckeditor, :label => "国家详情" %>
  </div>
  <%= f.submit "提交", class: "btn btn-sm btn-default", data: {disable_with: "Submiting..."} %>
<% end %>
