<div class="product-show">

  <!-- 主图 -->
  <div class="col-md-7">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail img-width") %>
    <% else %>
      <%= image_tag("http://placehold.it/00x400&text=No Pic", class: "thumbnail img-responsive") %>
    <% end %>
  </div>

  <!-- 商品信息 -->
  <div class="col-md-5">
    <!-- 商品标题 -->
    <h2 class="product-title"><%= @product.title %></h2>
    <!-- 商品简述 -->
    <div class="product-description">
      <p>
        <%= simple_format(@product.description) %>
      </p>
    </div>
  </div>
     <%= link_to("新增项目", new_admin_product_project_path(@product), class: "btn btn-sm btn-success") %>





</div>
